<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style/style.css"/>
        <link rel="stylesheet" href="/style/header.css"/>
        <link href="/style/prism-theme.css" rel="stylesheet"/>
        {% block css %}{% endblock %}
        <title>{{title}}</title>
    </head>
    <body>
        {% include "header.njk" %}
        <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </body>
</html>