<footer class="footer">
    <div class="content-container">
        <p>This Web site is builty with <a href="https://www.11ty.dev">Eleventy</a> and hosted on <a href="https://www.netlify.com">Netlify</a>
        </p>
        <p>© Nathan Barrett 2022–Today</p>
    </div>
</footer>