<nav class="nav-wrapper">

    <ul class="nav-link-list">
        <li>
            <a href="#about" class="nav-link">about</a>
        </li>
        <li>
            <a href="#work" class="nav-link">work</a>
        </li>
        <li>
            <a href="#contact" class="nav-link">contact</a>
        </li>
    </ul>
</nav>