{% macro card(href, image_src, alt="", title, desc)%}
    <a href={{ href }} class="work-card" rel="noreferrer noopener" target="_blank">
        <div class="image-container"><img src={{ image_src }} alt={{ alt }}/></div>
        <div class="text-container">
            <h3>{{ title }}</h3>
            <p>{{ desc }}</p>
        </div>
    </a>
{% endmacro %}