.nav-wrapper {
	align-content: center;
	display: flex;
	height: 60px;
	margin-bottom: 10px;
	justify-content: space-between;
    align-items: center;
}

.avatar {
   height: 50px;
   width: 50px;
}

.nav-link-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin: 0;
}

.nav-link-list li {
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    align-self: center;
    color: grey;
	text-decoration: none;
	font-size: 16px;
	padding: 10px,
}

.nav-link[aria-current="page"] {
    font-weight: bold;
    color: var(--color-black);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.nav-link:hover {
    color: black;
    cursor: pointer;
}

