---
layout: base
title: Nathan Barrett
---

{% from './macros/card.njk' import card%}

<body>
    <section id="about" class="section-wrapper">
        <div class="about-text">
            <h1>Hi, I'm Nathan.</h1>
            <p>I'm a web developer based in Portland, Oregon - I make websites that are acessible, responsive and easy to use. My pronouns are: he/him.</p>
            <p>I work at Mozilla on <a href="http://www.mozilla.org">mozilla.org</a>, their <a href="https://protocol.mozilla.org" target="_blank">Protocol design system</a>, and any other fun projects that I can.</p>
            <p>I have professional experience working with Javascript, HTML, CSS, NodeJS and Python.</p>
            {% include "social.njk" %}
        </div>
        <div class="about-image">
            <img src="./public/images/headshot.jpg" srcset="./public/images/headshot-high-res.jpg 2x" loading="lazy" alt="Photo of Nathan">
        </div>
    </section>
    <section class="section-wrapper" id="work">
        <div class="heading-wrapper">
            <h2>Work</h2>
        </div>
        <div class="work-grid">
            {% for project in projects %}
                {{ card(
                    href=project.href, 
                    image_src=project.image_src, 
                    title=project.title, 
                    desc=project.desc
                )}}
            {% endfor %}
        </div>
    </section>
</body>